<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.byoutline.kickmaterial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".KickMaterialApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_kick_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <meta-data android:name="clientid" android:value="9c798b71c0ab00d06bcf3597e3adb6fbaaae8eb3" />
        <meta-data android:name="secret" android:value="c24bbcf07a96b7921831aa6693a853d4d268519b" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.byoutline.kickmaterial.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.byoutline.kickmaterial.activities.ProjectDetailsActivity"
            android:parentActivityName="com.byoutline.kickmaterial.activities.MainActivity" />
        <activity android:name="com.byoutline.kickmaterial.activities.RewardsListActivity" />
        <activity android:name="com.byoutline.kickmaterial.activities.CategoriesListActivity" />
        <activity
            android:name="com.byoutline.kickmaterial.activities.VideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.byoutline.secretsauce.activities.WebViewActivityV7"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name="com.byoutline.secretsauce.activities.WebViewFlickrActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Base" />

        <receiver android:name="com.byoutline.kickmaterial.receivers.ContentReceiver">
            <intent-filter>
                <action android:name="com.byoutline.kickmaterial.content" />
            </intent-filter>
        </receiver>

        <provider
            android:authorities="com.byoutline.kickmaterial.provider"
            android:name="com.onyxbeaconservice.provider.IBeaconProvider"
            android:enabled="true"
            android:exported="true"></provider>

    </application>

</manifest>
